@model IEnumerable<GymClass>

@foreach (var item in Model) {
        <tr>
            <td>
                @if(User.IsInRole("Member"))
                {
                     <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                }
                else if(!User.Identity!.IsAuthenticated)
                {
                     @Html.DisplayFor(modelItem => item.Name)
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Duration)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>

            @if (User.IsInRole("Member"))
            {
                <a asp-action="BookingToggle" asp-route-id="@item.Id">Book</a> <span>|</span>
            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            }
            </td>
        </tr>
}